<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the Game</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/"><img src="/public/images/logo.png" alt="GameMoon Logo"></a>
                <a href="/">GameMoon</a>
            </div>
            <div class="nav-links">
                <a href="/about">About</a>
                <!-- <a href="/changelog">Changelog</a> -->
                <a href="/download">Download</a>
                <a href="/index">News</a>
    
                <% if (user) { %>
                    <a href="/users/profile">Profile</a>
                    <a href="/auth/logout">Logout</a>
                <% } else { %>
                    <a href="/auth/login">Login</a>
                    <a href="/auth/register">Register</a>
                <% } %>
                
            </div>
        </nav>
    </header>
    <div class="about-container">
        <div class="about-content">
            <h1>About the Game</h1>
            <p>Welcome to GameMoon! This is a dedicated page about our game, that isnt already exist! Lets pretend that its here. This project is a Final project for BackEnd in AITU. Made by Ayanat Zhunis, Daniyal Ibrayev, Adilzhan Kurmet from SE-2320 with love!</p>
            <img src="/public/images/game-screenshot.jpg" alt="Game Screenshot">
            <img src="/public/images/game-screenshot1.jpg" alt="Game Screenshot">

        </div>
    </div>


    <footer>
        <p>© 2025 GameMoon. All rights reserved.</p>
    </footer>
</body>
</html>
