<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/"><img src="/public/images/logo.png" alt="GameMoon Logo"></a>
                <a href="/">GameMoon</a>
            </div>
            <div class="nav-links">
                <a href="/about">About</a>
                <!-- <a href="/changelog">Changelog</a> -->
                <a href="/download">Download</a>
                <a href="/index">News</a>
    
                <% if (user) { %>
                    <a href="/users/profile">Profile</a>
                    <a href="/auth/logout">Logout</a>
                <% } else { %>
                    <a href="/auth/login">Login</a>
                    <a href="/auth/register">Register</a>
                <% } %>
                
            </div>
        </nav>
    </header>
    <div class="bout-container">
        <div class="bout-content">
        <h1>Download GameMoon</h1>
            <p>Choose your platform and download the game.</p>
            <p>Windows</p>
            <a href="/download-game" class="btn">Download for Windows</a>
            
            <p>MacOS</p>
            <a href="/download-game" class="btn">Download for macOS</a>
            
            <p>Linux</p>
            <a href="/download-game" class="btn">Download for Linux</a>
            
        </div>
    </div>


    <footer>
        <p>© 2025 GameMoon. All rights reserved.</p>
    </footer>
</body>
</html>
