<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameMoon - Download</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/"><img src="/public/images/logo.png" alt="GameMoon Logo"></a>
                <a href="/">GameMoon</a>
            </div>
        </nav>
    </header>
    
    <div class="about-container">
        <div class="about-content">
            <h1>Sorry,game isnt ready yet</h1>
            <p>If you are not so smart, thats just a backend project</p>
            <a href="/" class="btn">Get out</a>
        </div>
    </div>

    <footer>
        <p>© 2025 GameMoon. All rights reserved.</p>
    </footer>
</body>
</html>
